/*Elements*/

html {
    font-family: Meiryo;
    font-size: 50%;
    /*transition: 1.2s;*/
}

body {
    font-size: 1.8rem;
    /*font-size: 1.6rem;*/
    margin: 0;
}

a {
    color: #345;
    display: block;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

::selection {
    color: #345;
    background-color: #bcd;
}

/*=================================================================================*/
/*HeaderArea*/

#bodyHead {
    width: 100%;
    height: 50px;
    background-color: #678;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    /*padding: 5px 5px 5px 15px;*/
    position: fixed;
    z-index: 50;
}

#searchGroup {
    /*height: 40px;*/
    left: 50px;
    position: absolute;
}

#search {
    width: 300px;
    font-size: 2rem;
    color: #678;
    background-color: #678;
    border: none;
    /*border-bottom: 1px solid #fff;*/
    outline: none;
    padding: 18px 8px 0px 8px;
    display: block;
}

#search:focus {
    color: #fff;
}

#SearchLabel {
    top: 15px;
    left: 5px;
    font-size: 2.2rem;
    font-weight: normal;
    color: #ddd;
    position: absolute;
    -webkit-transition: 0.5s ease all;
    pointer-events: none;
}

#search:focus~#SearchLabel {
    top: 0px;
    font-size: 1.6rem;
}

.bar {
    width: 150px;
    border-bottom: 1px solid #fff;
    position: relative;
    margin: 2px;
    display: block;
    -webkit-transition: 0.5s ease all;
}

#search:focus~.bar {
    width: 300px;
}

#searchReset {
    top: 15px;
    right: 20px;
    color: #678;
    position: absolute;
    cursor: pointer;
    /*display: none;*/
}

#searchResult {
    top: 0px;
    left: 40px;
    width: 400px;
    height: 0px;
    background-color: #fff;
    opacity: 0.98;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
    /*padding: 15px;*/
    position: fixed;
    z-index: 25;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: 0.8s ease all;
    white-space: nowrap;
}


#searchResult a {
    /*height: 28px;*/
    width: 368px;
    z-index: 1;
    /*margin: 8px;*/
    padding: 7px 8px 7px 8px;
    /*color: #345;*/
    display: block;
    overflow: hidden;
    -webkit-transition: 0.25s ease-out all;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#searchResult a:hover {
    background: #f5f5f5;
    padding-left: 12px;
}


/*=================================================================================*/

#systemLinkArea {
    top: -5px;
    left: 0px;
    height: 40px;
    background-color: #eee;
    opacity: 0.95;
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 45;
    -webkit-transition: 0.4s;
    vertical-align: middle;
    white-space: nowrap;
}

#systemLinkArea ul {
    width: 100%;
    height: 100%;
    font-size: 0;/*隙間埋め*/
}

#systemLinkArea li {
    height: 100%;
    display: inline-block;
}

#systemLinkArea a {
    height: 100%;
    font-size: 2rem;
    padding: 0 15px 0 5px;
    /*color: #345;*/
    display: block;
}
#systemLinkArea a:hover{   
    background-color: #ccc;
    -webkit-transition: 0.25s ease-out all;
}
.faviconBig {
    top: 6px;
    width: 18px;
    height: 18px;
    opacity: 0.7;
    position: relative;
    /*padding: 0px 4px 0px 4px;*/
    margin: 4px;
}

/*=================================================================================*/
/*MainArea*/

#bodyMain {
    top: 50px;
    /*width: 100%;*/
    padding-top: 10px;
}

.cntntModule {
    /*width: 150px;*/
    width: 160px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 15px;
    display: inline-block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.cntntHead {
    height: 20px;
    font-size: 1.9rem;
    /*width: 100%;*/
    background-color: #f5f5f5;
    border-bottom: 2px solid #678;
    padding: 6px;
}

.cntntModule ul {
    width: 100%;
}

.cntntModule ul li {
    width: 160px;
    position: relative;
    display: block;
    /*border-bottom:solid 1px #eee;*/
}

.cntntModule ul li:hover {
    width: 166px;
    background: #f5f5f5;
    margin-left: -6px;
    -webkit-transition: 0.25s ease-out all;
}
.cntntModule ul li a {
    height: 100%;
    padding: 7px 8px 7px 8px;
    /*padding: 0 15px 0 5px;*/
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bkmrkNum {
    height: 14px;
    font-size: 1.4rem;
    color: #999;
    padding: 4px 8px 4px 8px;
    display: block;
}

.favicon {
    top: 2px;
    width: 16px;
    height: 16px;
    position: relative;
    margin: 0px 4px 0px 4px;
    /*border-radius: 50%;*/
}

.hideModule {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease all;
}

/*=================================================================================*/
/*ToggleButton*/

.form_tggl {
    width: 40px;
    height: 12px;
    background-color: #cccccc;
    border-radius: 30px;
    position: absolute;
    margin: 0 5px 0 5px;
    margin: 20px;
    display: inline-block;
    /*border:1px solid #dddddd;*/
    transition: .4s;
    vertical-align: middle;
    cursor: pointer;
}

.form_tggl:after {
    top: -3px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: #ECEFF1;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 1;
    display: inline-block;
    content: "";
    transition: .3s;
}

.form_tggl:hover:after {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.form_tggl_on {
    background-color: #BBDEFB;
    /*border:1px solid #ffffff;*/
}

.form_tggl_on:after {
    left: 22px;
    background-color: #42A5F5;
}

/*=================================================================================*/
/*Scrollbar*/

::-webkit-scrollbar {
    width: auto;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background: rgb(209, 212, 214);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(199, 202, 204);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
}

/*==========================================================================*/

.menuBtn {
    width: 50px;
    height: 50px;
    /*background: #fff;*/
    position: absolute;
}

.menuBtn span,
.menuBtn span:before,
.menuBtn span:after {
    width: 30px;
    height: 3px;
    background-color: #f3f3f3;
    border-radius: 1px;
    position: absolute;
    display: block;
    content: '';
    transition: all .4s;
}

.menuBtn span {
    top: 20px;
    margin: 5px 10px 0 10px;
}

.menuBtn span:before {
    top: -8px;
}

.menuBtn span:after {
    top: 8px;
}

.sysMenuView span {
    -webkit-transform: rotate(90deg) scaleX(0.8);
}

.sysMenuView span:before {
    -webkit-transform: translate3d(9px, 5px, 0) rotate(35deg) scaleX(0.4);
}

.sysMenuView span:after {
    -webkit-transform: translate3d(9px, -5px, 0) rotate(-35deg) scaleX(0.4);
}

/*================================================================================*/

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple .rp-effect {
    background: #37819e;
    opacity: 0.35;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    animation: ripple 1s;
    pointer-events: none;
}

@-webkit-keyframes ripple {
    to {
        opacity: 0;
        transform: scale(2.0);
    }
}