/*Elements*/

html {
    font-family: Meiryo;
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    margin: 0;
}

a {
    color: #345;
    display: block;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

::selection {}


#searchGroup {
    left: 4rem;
    width: 0rem;
    height: 100%;
    position: fixed;
    z-index: 14;
    overflow: hidden;
}

#searchHeader {
    height: 2.2rem;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem;
    overflow: hidden;
    transition: 0.3s all;
    vertical-align: middle;
    text-decoration: none;
}
#inputArea {
    width: 100%;
}

#search {
    width: 90%;
    font-size: 2.1rem;
    height: 4.2rem;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    display: block;
    cursor: pointer;
    position: absolute;
}

#search:focus {
    cursor: text;
}

#search::-webkit-input-placeholder {
    font-size: 1.5rem;
    font-weight: normal;
}
#searchView {
    right: 0;
    height: 4.2rem;
    width: 10%;
    outline: none;
    border: none;
    display: block;
    padding-top: 0.3rem;
    position: absolute;
    transition: 0.3s;
}
#searchView:hover {
    padding-left: 0.9rem;
}
#searchReset {
    top: 5.2rem;
    right: 4.0rem;
    position: absolute;
}

.searchResetHidden {
    opacity: 0;
}

.searchResetView {
    opacity: 1;
    cursor: pointer;
}

#searchResult {
    top: 8.4rem;
    height: calc(100% - 10rem);
    width: 100%;
    opacity: 0.98;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    position: absolute;
}


#searchResult a {
    z-index: 1;
    padding: 0.7rem 0.8rem 0.7rem 0.8rem;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#searchResult a:hover {
    padding-left: 1.2rem;
}

#resultNum {
    margin: 1rem 0.5rem 1rem 1.2rem;
}

#progressBar {
    display: none;
    height: 0.3rem;
    width: 100%;
    background-color: #abc;
    position: relative;
}

#progress {
    position: absolute;
    height: 100%;
    background-color: #26c5ff;
    -webkit-animation: load 1s linear infinite;
}

@-webkit-keyframes load {
    0% {
        width: 0%;
        left: 0;
    }
    25% {
        width: 50%;
        left: 0%;
    }
    50% {
        width: 60%;
        left: 20%;
    }
    75% {
        width: 40%;
        left: 60%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

/*=================================================================================*/

#systemLinkArea {
    width: 4rem;
    height: 100%;
    position: fixed;
    z-index: 15;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: 0.3s cubic-bezier(0.58, 0.11, 0.2, 1.05) all;
}

#mFilter {
    transition: 0.7s;
}

.filter {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
}


.menu {
    height: 2.2rem;
    padding: 1rem;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}

.menu:hover {}

.systemLink {
    height: 2.2rem;
    /*color: #345;*/
    padding: 1rem;
    display: block;
    overflow: hidden;
    /*transition: 0.3s all;*/
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}

.systemLink:hover {}

.faviconBig {
    width: 2rem;
    height: 2rem;
    opacity: 0.7;
    padding: 0 1rem 0 0;
    vertical-align: middle;
}



/*=================================================================================*/


/*MainArea*/

#bodyMain {
    font-size: 1.4rem;
    margin: 0 4rem 0 5rem;
    /*padding: 2.4rem;*/
    opacity: 0;
    -webkit-transition: 0.5s cubic-bezier(0.49, 0.03, 0.12, 1.00) all;
}

.cntntModule {
    border-radius: 0.5rem;
    margin: 1.8rem 1.6rem;
    padding: 0;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.cntntHead {
    height: 2.0rem;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid #abc;
    padding: 0.6rem;
    cursor: default;
}

.cntntModule ul {
    width: 100%;
}

.cntntModule ul li {
    position: relative;
    display: block;
    cursor: pointer;
}

.cntntModule ul li:hover {
    margin-left: -0.6rem;
}

.cntntModule ul li a {
    height: 2.0rem;
    padding: 0.7rem 0.8rem 0.7rem 0.8rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.bkmrkNum {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    display: block;
}

.favicon {
    top: 0.2rem;
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    margin: 0.0rem 0.4rem 0.0rem 0.4rem;
}

.hideModule {
    opacity: 0;
    visibility: hidden;
}



/*=================================================================================*/


/*ToggleButton*/

.form_tggl {
    width: 4.0rem;
    height: 1.2rem;
    border-radius: 3.0rem;
    position: absolute;
    margin: 0 0.5rem 0 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 4.5rem;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.form_tggl:after {
    top: -0.3rem;
    left: 0.0rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: inline-block;
    content: "";
}

.form_tggl:hover:after {}

.form_tggl_on {}

.form_tggl_on:after {
    left: 2.2rem;
}



/*=================================================================================*/


/*Scrollbar*/

::-webkit-scrollbar {
    width: auto;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background: rgb(209, 212, 214);
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(199, 202, 204);
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.65);
}



/*==========================================================================*/


/*================================================================================*/

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple .rp-effect {
    opacity: 0.35;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    animation: ripple 1s;
    pointer-events: none;
}

@-webkit-keyframes ripple {
    to {
        opacity: 0;
        transform: scale(2.0);
    }
}