html {
    font-size: 50%;
    font-family: Meiryo;
}

body {
    font-size: 1.8rem;
    background-color: #f7f7f7;
    letter-spacing: 1px;
    transition: 1s;
}

a {
    color: #144565;
    text-decoration: none;
    transition: 0.5s;
}

a:after {
    content: attr(href);
}

a:hover {
    color: #00A7F4;
}

::selection {
    background-color: #678;
    color: #fff;
}


/*=================================================================================*/

#bodyMain {
    padding: 30px 0 30px 0;
    margin: 0 auto;
}

.cardArea {
    height: auto;
    width: 44%;
    color: #345;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 1%;
    margin: 10px 1.7% 10px 1.7%;
    float: left;
    word-wrap: break-word;
}

.card_cntnt {
    margin: 16px;
    padding: 5px;
    /*border-bottom: 1px solid #bdbdbd;*/
    display: block;
    position: relative;
}


/*=================================================================================*/

.button {
    display: inline-block;
    background-color: #1379AD;
    color: #FFF;
    /*font-size: 1em;*/
    letter-spacing: 0.05em;
    padding: 0.3em 1.2em;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: .3s ease-out;

}

.button:hover {
    background-color: #2096C5;
}


/*=================================================================================*/


/*Scrollbar*/

::-webkit-scrollbar {
    width: auto;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background: rgba(199, 202, 204, .7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(199, 202, 204, .7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}



/*=================================================================================*/


.ripple {
    position: relative;
    overflow: hidden;

}

.ripple .rp-effect {
    position: absolute;
    border-radius: 50%;
    opacity: 0.35;
    transform: scale(0);
    background: #fff;
    animation: ripple 1s;
    pointer-events: none;
}

@-webkit-keyframes ripple {
    to {
        opacity: 0;
        transform: scale(2.0);
    }
}