/*Elements*/

html {
    font-family: Meiryo;
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    background-color: #f7f7f7;
    counter-reset: num;
    transition: 1s;
    /*letter-spacing: 0.1rem;*/
}

a {
    color: #3478a4;
    transition: 0.5s;
    text-decoration: none;
}

a:after {
    content: attr(href);
}

a:hover {
    color: #00A7F4;
}

hr {
    border-color: #E2E2E2;
}
.cardArea > hr{
    /*margin: 3.2rem -1.2% 3.2rem -1.2%;*/
    margin: 3.2rem 0 3.2rem 0;
}
.cardContents > hr {
    /*margin: 3.2rem -2.6% 3.2rem -2.6%;*/
    margin: 3.2rem 0 3.2rem 0;
}

table {
    width: 60%;
    border:solid 0.1rem #789;
    border-collapse: collapse;
}

th {
    background-color: #bcd;
    padding: 0.4rem;
    text-align: left;
}
tr:nth-child(odd){
    background-color: #F6F8Fa;
}
td{
    padding: 0.3rem;
}
td:first-child:after{
    content: counter(num);
    counter-increment:num;
}
input[type=text] {
    width: 15.0rem;
    color: #456;
    border: none;
    border-bottom: 0.2rem solid #9ab;
    outline: none;
    /*margin: 1.5rem 0.5rem 1.5rem 0.5rem;*/
    margin-right: 6.0rem;
    padding: 0.5rem;
    overflow: hidden;
    -webkit-transition: 0.6s ease all;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input[type=text]:focus {
    width: 20.0rem;
    border-bottom: 0.2rem solid #678;
    margin-right: 1.0rem;
}

::-webkit-input-placeholder {
    color: #9ab;
    -webkit-transition: 0.6s ease all;
}

input:focus::-webkit-input-placeholder {
    color: #cde;
}

::selection {
    color: #345;
    background-color: #bcd;
}
/*=================================================================================*/
/*Button*/

.button {
    color: #FFF;
    /*background-color: #115273;*/
    background-color: #7190ad;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.35);
    margin: 1.5rem 0.5rem 1.5rem 0.5rem;
    padding: 0.4rem 1.6rem;
    display: inline-block;
    cursor: pointer;
    transition: .3s ease;
    vertical-align: middle;
    /*font-size: 1em;*/
    letter-spacing: 0.05em;
}

.button:hover {
    background-color: #3276A3;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
}
.button:active{
    background-color: #7190ad;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.5);
}

/*ToggleButton*/

.toggle {
    width: 4.0rem;
    height: 1.2rem;
    background-color: #cccccc;
    border-radius: 3.0rem;
    margin: 0 0.5rem 0 0.5rem;
    display: inline-block;
    cursor: pointer;
    /*border:0.1rem solid #dddddd;*/
    transition: .4s;
    vertical-align: middle;
}

.toggle:after {
    top: -0.45rem;
    left: 0.0rem;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #ECEFF1;
    border-radius: 50%;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 1;
    display: inline-block;
    content: "";
    transition: .3s;
}

.toggle:hover:after {
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
}

.toggle_on {
    background-color: #BBDEFB;
    /*border:0.1rem solid #ffffff;*/
}

.toggle_on:after {
    left: 2.2rem;
    background-color: #42A5F5;
}
/*=================================================================================*/

#bodyMain {
    width: 100%;
    margin: 0 auto;
    padding: 3.0rem 0 3.0rem 0;
}

.cardArea {
    width: 92%;
    height: auto;
    line-height: 2.8rem;
    color: #345;
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-bottom: 3.0rem;
    padding: 1%;
    word-wrap: break-word;
}

.cardContents {
    position: relative;
    margin: 1.6rem;
    padding: 0.5rem;
    /*border-bottom: 0.1rem solid #bdbdbd;*/
    display: block;
}

/*=================================================================================*/


/*Ripple Effect*/

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple .rp-effect {
    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    animation: ripple 1s;
    pointer-events: none;
}

@-webkit-keyframes ripple {
    to {
        opacity: 0;
        transform: scale(2.0);
    }
}
/*=================================================================================*/

/*Scrollbar*/

::-webkit-scrollbar {
    width: auto;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background: rgb(209, 212, 214);
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(199, 202, 204);
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.65);
}
