/*Elements*/

html {
    font-family: Meiryo;
    font-size: 50%;
}

body {
    font-size: 1.8rem;
    background-color: #f7f7f7;
    counter-reset: num;
    transition: 1s;
    letter-spacing: 1px;
}

a {
    color: #3478a4;
    transition: 0.5s;
    text-decoration: none;
}

a:after {
    content: attr(href);
}

a:hover {
    color: #00A7F4;
}

hr {
    border-color: #E2E2E2;
}
.cardArea > hr{
    margin: 32px -1.2% 32px -1.2%;
}
.cardContents > hr {
    margin: 32px -2.6% 32px -2.6%;
}

table {
    width: 60%;
    border:solid 1px #789;
    border-collapse: collapse;
}

th {
    background-color: #bcd;
    padding: 4px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: #F6F8Fa;
}
td{
    padding: 3px;
}
td:first-child:after{
    content: counter(num);
    counter-increment:num;
}
input[type=text] {
    width: 150px;
    color: #456;
    border: none;
    border-bottom: 2px solid #9ab;
    outline: none;
    /*margin: 15px 5px 15px 5px;*/
    margin-right: 60px;
    padding: 5px;
    overflow: hidden;
    -webkit-transition: 0.6s ease all;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input[type=text]:focus {
    width: 200px;
    border-bottom: 2px solid #678;
    margin-right: 10px;
}

::-webkit-input-placeholder {
    color: #9ab;
    -webkit-transition: 0.6s ease all;
}

input:focus::-webkit-input-placeholder {
    color: #cde;
}

::selection {
    color: #345;
    background-color: #bcd;
}
/*=================================================================================*/
/*Button*/

.button {
    color: #FFF;
    /*background-color: #115273;*/
    background-color: #7190ad;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    margin: 15px 5px 15px 5px;
    padding: 4px 16px;
    display: inline-block;
    cursor: pointer;
    transition: .3s ease;
    vertical-align: middle;
    /*font-size: 1em;*/
    letter-spacing: 0.05em;
}

.button:hover {
    background-color: #3276A3;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.button:active{
    background-color: #7190ad;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/*ToggleButton*/

.toggle {
    width: 40px;
    height: 12px;
    background-color: #cccccc;
    border-radius: 30px;
    margin: 0 5px 0 5px;
    display: inline-block;
    cursor: pointer;
    /*border:1px solid #dddddd;*/
    transition: .4s;
    vertical-align: middle;
}

.toggle:after {
    top: -3px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: #ECEFF1;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 1;
    display: inline-block;
    content: "";
    transition: .3s;
}

.toggle:hover:after {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.toggle_on {
    background-color: #BBDEFB;
    /*border:1px solid #ffffff;*/
}

.toggle_on:after {
    left: 22px;
    background-color: #42A5F5;
}
/*=================================================================================*/

#bodyMain {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

.cardArea {
    width: 92%;
    height: auto;
    line-height: 2.8rem;
    color: #345;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 1%;
    word-wrap: break-word;
}

.cardContents {
    position: relative;
    margin: 16px;
    padding: 5px;
    /*border-bottom: 1px solid #bdbdbd;*/
    display: block;
}

/*=================================================================================*/


/*Ripple Effect*/

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple .rp-effect {
    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    animation: ripple 1s;
    pointer-events: none;
}

@-webkit-keyframes ripple {
    to {
        opacity: 0;
        transform: scale(2.0);
    }
}
/*=================================================================================*/

/*Scrollbar*/

::-webkit-scrollbar {
    width: auto;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background: rgb(209, 212, 214);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(199, 202, 204);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
}
